@charset "utf-8";
/* CSS Document */

body {
	font-family:Segoe UI,Helvetica,Arial,sans-serif;
	font-size: 12px;
	background: url('./img/bd_bg.png');
	}
	
#wrap {
	margin: 0 auto;
	}
	
#body {
	max-width: 1450px;
	margin: 0 auto;
	min-width: 675px;
	display: table;
	background: #fff;
	}
	
#table-body {
	float:left;
	width:100%;
	}	
	
#content {
	vertical-align:top;
	}

.body_narrow {
	height:97%;
	overflow:auto;
	position:fixed;
	width:69%;
	}	
	
p {
	margin:20px;
	font-size:1.3em;
	text-align:justify;
	}

/* Head area */

div#header {
background: #9bcc60;
height: 100px;
}

#head_img {
	float: left;
	margin: 0;
	height: 100px;
}

#header h1 {
float: left;
margin: 30px 50px 0 50px;
color: #453326;
}

#header h1 a{
	color: #453326;
}

/* FOOTER */
#footer{
	width: 100%;
	height: 5px;
	background: #453326;
	float: left;
}

/* SIDEBAR */

.sidebar {
	float: right;
	clear: right;
	margin: 0;
	background: #e3ddc9;
	padding:0 20px;
	margin: 5px 0 20px 20px;
}

.sidebar h3 {
	text-align: center;
}

#list-services{
	width:200px;
	height: 100%;
}

/* CONTENT */

.data {
	float: left;
	margin: 0 20px 20px;
	border-top: solid #453326;
	padding: 5px;
}

/* FORMS */

span.label {
	float:left;
	clear:left;
	margin: 10px;
	width:100px;
	font-weight:bold;
	}

span.input-span {
	float:left;
	clear: left;
	font-weight:bold;
	}
	
span.input {
	float:left;
	margin: 5px 10px;
	}

label {
	float: left;
	width: 100px;
}
	
.form_small {
	width:65%;
	}

/* OVER RIDE JQUERY-UI */

#tabs{
	background: transparent;
	color: #000;
}

ul.ui-tabs-nav {
	background: transparent;
}

#tabs .ui-widget-content {
	color: #000;
}

.desc {
	width: 600px;
}

.ui-accordion-content.ui-helper-reset.ui-widget-content.ui-corner-bottom.ui-accordion-content-active {
	padding:0;
}

#ui-datepicker-div {
	display: none;
}

/* Other Stuff*/

.astable {
	float:left;
	margin:5px;
	}

#results {
	width:100%;
	}
	
#results td, #members td, #visitors td{
	vertical-align:top;
	}
	
#results td.bottom, #members td.bottom, #visitors td.bottom{
	vertical-align:bottom;
	}
		
th {
	padding:5px;
	}
	
	
	
.table {
	clear:left;
	overflow:auto;
	}
	
	
.table_small {
	width:65%;
	}
	
.desc {
	float:left;
	margin: 10px;
	}
	
#familygroups ul, #familygroups li {
	list-style:none;
	}
	
li.sorts {
	display:inline;
	}	
	
input.money {
	width:60px;
	padding-left:12px;
	}

input.otype {
	width:80px;
	}
input.long {
	width:300px;
	}
	
#service_links ul li {
	display: inline;
	}
	
.left {
	float:left;
	margin: 20px ;
	}
	
.page_br {
	width:100%;
	clear:both;
	height:10px;
	display:block;
	}

.page_help {
	display: none;
	float:right;
	background:#fff;
	}

.page_help_on {
	display:block;
	float:right;
	height:90%;
	overflow:auto;
	padding:20px;
	position:fixed;
	right:7px;
	top:7px;
	width:26%;
	}
	
#help_button {
	float:right;
	}
	
#sdate_year, .sdate_month {
	float:left;
	width:80%;
	}
	
#sdate_year_list, .sdate_month_list {
	background:none!important;
	border:none!important;
	}
	
.service_list {
	background:none!important;
	border:none!important;
	-moz-border-radius:0!important;
	}
		
.pick-date {
	float:left;
	width:23em;
	}
	
.services {
	float:left;
	width:100%;
	}

	
.days {
	float:left;
	margin:0 10px;
	}
	
.item_link {
	width:30px;
	text-align:center;
	}
	
.scroll-bar-wrap { clear: left; padding: 0 4px 0 2px; margin: 0 -1px -1px -1px; }
.scroll-bar-wrap .ui-slider { background: none; border:0; height: 2em; margin: 0 auto;  }
.scroll-bar-wrap .ui-handle-helper-parent { position: relative; width: 100%; height: 100%; margin: 0 auto; }
.scroll-bar-wrap .ui-slider-handle { top:.2em; height: 1.5em; }
.scroll-bar-wrap .ui-slider-handle .ui-icon { margin: -8px auto 0; position: relative; top: 45%; }
	
.ui-slider-horizontal .ui-slider-handle {
top:0.3em!important;
}

input.attendance {
	width:30px;
	}
	
.center {
	text-align:center;
	}
	
img.money_sign {
	float:left;
	margin:2px 0 -25px 2px;
	position:relative;
	}
	
tr.second, tr.second th {
	padding:0px;
	}
	
.family_name {
	font-size:1.3em;
	font-variant:small-caps;
	font-weight:bold;
	padding:3px 3px 3px 10px;
	text-transform:capitalize;
	
	}	
	
.help-title {
	padding:5px 10px;
	text-transform:uppercase;
	}
	
.update_data_buttonset label{
	float:left!important;
	clear:left!important;
	}
	
.update_data_buttonset label.ui-corner-left {
	-moz-border-radius-bottomleft:0!important;
	-moz-border-radius-topright:4px!important;	
	}
	
.update_data_buttonset label.ui-corner-right {
	-moz-border-radius-bottomleft:4px!important;
	-moz-border-radius-topright:0!important;	
	}	
	
.update_data_buttonset label.ui-button {
	margin: 0 2px -0.1em !important;
}

#page_list_col {
	width:14em;
	vertical-align:top;
	padding:0;
	}
	
#pages, #list_records { 
	float:left;
	width:14em; 
	}

#pages h3.ui-accordion-header .ui-icon , #list_records h3.ui-accordion-header .ui-icon  {
	margin-top:-8px;
	position:absolute;
	right:0.5em;
	top:50%;
	left:auto;
}

#pages .ui-menu, #list_records .ui-menu {
	padding:0;
	overflow:hidden;
	width:100%;
	}	

#pages .ui-accordion-content, #list_records .ui-accordion-content {
	padding:0;
	}
	
.hidden {
	display:none;
	}
	
.display {
	display:inherit;
	}

.dates { overflow: hidden; width: 500px; float:left; }
.dates_list { width: 2440px; float: left; }
.dates_list li { list-style:none; float: left; margin: 10px;  }
* html .dates_list li { display: inline; list-style:none; } /* IE6 float double margin bug */
.scroll-bar-wrap { clear: left; padding: 0 4px 0 2px; margin: 0 -1px -1px -1px; }
.scroll-bar-wrap .ui-slider { background: none; border:0; height: 2em; margin: 0 auto;  }
.scroll-bar-wrap .ui-handle-helper-parent { position: relative; width: 500px; height: 100%; margin: 0 auto; }
.scroll-bar-wrap .ui-slider-handle { top:.2em; height: 1.5em; }
.scroll-bar-wrap .ui-slider-handle .ui-icon { margin: -8px auto 0; position: relative; top: 50%; }

table.front-page td {
	padding: 5px 10px;
	}

/* NAVIGATION MENU */

#menu {
	background: #e3ddc9 repeat-x;
	float:left;
	width:100%;
	margin:5px 0 2px;
	padding:0;
	height: 35px;
	letter-spacing:0;
}

#menu ul {
	margin:0;
	padding:0;
	list-style:none;
}

#menu ul li {
	margin:0;
	padding:0;
	display:inline;
}
#menu li.menu-item {
	background:#453326;
	border-right:2px solid #e3ddc9;
	float:left;
	margin:0;
	padding:0;
}
#menu li.menu-item a {
	margin:0;
	font-weight:bold;
	color:#9bcc60;
	text-decoration:none;
	min-height:18px;
	padding:9px 8px 8px;
	width:101px;
	float:left;
	font-size:13px;
}
#menu li.menu-item:hover{
	background:#9c947c;
}
#menu li.menu-item:hover a:hover {
	background:#9c947c;
	color:#9bcc60;
}
#menu  ul.children {
	display:none;
}
#menu li.menu-item:hover ul.children {
	display:block;
	float:left;
	margin:35px 0 0 0;
	z-index:100;
	clear:left;
	position:absolute;
	padding:0;
	width:117px;
	overflow:hidden;
	
}
#menu li.menu-item ul.children li.menu-item{
	background:none;
	margin:0;
	padding:0;
}
#menu li.menu-item ul.children li.menu-item a {
	font-size:12px;
	background:#453326;
	color:#9bcc60;
	text-decoration:none;
	padding:3px 0 2px 10px;
	float:left;
	width:110px;
	font-weight:bold;
	border-top:1px solid #fff;
}
#menu li.menu-item ul.children li.menu-item:hover{
	background:#9c947c;
	margin:0;
}
#menu li.menu-item ul.children li.menu-item:hover a:hover{
	background:none;
	font-weight:bold;
	float:left;
}
#menu li.menu-item ul.children li.menu-item a {
	color:#9bcc60;
	text-decoration:none;
}
#menu li.menu-item:hover ul.children a:hover {
}	